{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h2>Manage Devices</h2>

    <a href="/admin-panel/devices/add/" class="btn btn-primary">+ Add Device</a>

    <br><br>

    <table class="table">
        <tr>
            <th>Serial Number</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for device in devices %}
        <tr>
            <td>{{ device.serial_number }}</td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.brand }}</td>
            <td>
                {% if device.status == "AVAILABLE" %}
                    <span class="badge badge-available">Available</span>
                {% else %}
                    <span class="badge badge-assigned">Assigned</span>
                {% endif %}
            </td>
            <td>
                <a href="/admin-panel/devices/edit/{{ device.id }}/" class="btn btn-secondary">Edit</a>
                <a href="/admin-panel/devices/delete/{{ device.id }}/" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No devices found</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}