{% extends 'base.html' %}
{% block content %}


<div class="d-flex justify-content-between mb-3">
    <h2>Employees</h2>
    <a href="{% url 'admin_add_employee' %}" class="btn btn-primary">

        + Add Employee
    </a>
</div>


<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td>
                <a href="/admin-panel/users/{{ u.id }}/" class="btn btn-info btn-sm">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
