{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h2>Employee Dashboard</h2>

    <table class="table">
        <tr>
            <th>Action</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>
                <a href="/inventory/available/" class="btn btn-primary">
                    View Available Devices
                </a>
            </td>
            <td>Browse all available devices in inventory.</td>
        </tr>

        <tr>
            <td>
                <a href="/allocations/my-devices/" class="btn btn-secondary">
                    My Assigned Devices
                </a>
            </td>
            <td>View devices currently assigned to you.</td>
        </tr>

        <tr>
            <td>
                <a href="/allocations/request/" class="btn btn-success">
                    Request a Device
                </a>
            </td>
            <td>Submit a request for a device.</td>
        </tr>
    </table>
</div>

{% endblock %}